{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        <div class="input-group">
            <div class="input-group-btn">
                <select name="topic_id" data-toggle="select" class="form-control select select-inverse mrs mbm">
                    {% for topic in topics %}
                        <option value="{{ topic.topic_id }}">{{ topic.topic_name }}</option>
                    {% endfor %}
                </select>
            </div><!-- /btn-group -->
            <input name="title" type="text" class="form-control">
        </div><!-- /input-group -->


        <textarea name="content" rows="25" placeholder="这里输入内容,支持Markdown语法."></textarea>
        <div class="">
            <select name="tag_ids" data-toggle="select" multiple="multiple"
                    class="form-control multiselect multiselect-inverse mrs mbm">
                {% for tag in tags %}
                    <option value="{{ tag.tag_id }}">{{ tag.tag_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-inverse">submit</button>
    </form>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/thinker-md.vendor.css') }}">
    <script type="text/javascript" charset="utf-8"
            src="{{ url_for('static', filename = 'js/thinker-md.vendor.min.js') }}"></script>
    <script>
        $("textarea").markdown({
            language: 'zh',
            fullscreen: {
                enable: true
            },
            resize: 'vertical',
            localStorage: 'md',
            imgurl: '/c/imgUpload',
            base64url: '/c/imgUpload',
            flowChart: true
        });
    </script>
{% endblock %}