<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>admin_login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/flat-ui.min.css') }}">
    {#    <div class = "container">#}
    {#        <div class = "row">#}
    {#            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">#}
    {#                <form action = "" method = 'post'>#}
    {##}
    {#                        <input type = "text" name = "username"  placeholder="username">#}
    {#                        <span class="fui-user"></span>#}
    {##}
    {#                        <input type = "password" name="passwd"  placeholder="password">#}
    {#                        <span class="fui-lock"></span>#}
    {#                        <button type="submit" class="btn btn-primary btn-wide">Save</button>#}
    {#                        <button type="reset" class="btn btn-default btn-wide">Cancel</button>#}
    {#                </form>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h2 class="title">Admin Login</h2>
                    <hr/>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-4">
                <form class="form-horizontal" method="post" action="/admin">

                    <div class="form-group">
                        <label for="name" class="control-label">Your UserName</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fui-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" id="name"
                                       placeholder="Enter your UserName"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fui-lock" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="passwd" id="password"
                                   placeholder="Enter your Password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="col-sm-3 col-sm-offset-0 btn btn-primary btn-wide">Login</button>
                        <button type="reset" class="col-sm-3 col-sm-offset-3 btn btn-primary btn-wide">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</head>
<body>
</body>
</html>