{% extends 'base.html' %}
{%  block content %}


    {% if is_posts %}
        <ul>
            {% for post in posts %}
            <li>
                    <div class="col-md-4">
                            {{ post.topic }}
                    </div>
                    <div class="col-md-4">
                            {{ post.title }}
                    </div>
                    <div class="col-md-4">
                            {{ post.post_time }}
                    </div>
            </li>
            {% endfor %}

        </ul>
        <a href = "{{ url_for('add_post') }}">写文章</a>
    {% endif %}


    {% if is_topics %}
        <ul>
            {% for topic in topics %}
            <li>
                    <div class="col-md-4">
                            {{ topic.topic_name }}
                    </div>
            </li>
            {% endfor %}
        </ul>
        <form action="{{ url_for("add_topic") }}" method= "post">
            <input type="text" name="added_topic_name">
            <button type="submit" class="btn btn-inverse btn-wide">增加</button>
        </form>
    {% endif %}




    {% if is_tags %}
        <ul>
            {% for tag in tags %}
            <li>
                    <div class="col-md-4">
                            {{ tag.tag_name }}
                    </div>
            </li>
            {% endfor %}

        </ul>
        <form action="{{ url_for("add_tag") }}" method="post">
            <input type="text" name="added_tag_name">
            <button type="submit" class="btn btn-inverse btn-wide">增加</button>
        </form>
    {% endif %}
{% endblock %}