{% extends 'base.html' %}
{% block content %}


    {% if is_posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <div class="col-md-3">
                        {{ post.topic_name }}
                    </div>
                    <div class="col-md-3">
                        <a href="{{ url_for('post',post_id = post.post_id) }}">{{ post.title }}</a>
                    </div>
                    <div class="col-md-3">
                        {{ post.post_time }}
                    </div>
                    <div class="col-md-3">
                        <a href="{{ url_for('del_post',post_id = post.post_id) }}">删除</a>
                        <a href="{{ url_for('update_post',post_id = post.post_id) }}">修改</a>
                    </div>

                </li>
            {% endfor %}

        </ul>
        <a href="{{ url_for('add_post') }}">写文章</a>
    {% endif %}


    {% if is_topics %}
        <ul>
            {% for topic in topics %}
                <li>
                    <div class="col-md-4">
                        {{ topic.topic_name }}
                    </div>
                    <a href="{{ url_for('del_topic',topic_id = topic.topic_id) }}">删除</a>
                </li>
            {% endfor %}
        </ul>
        <form action="{{ url_for("add_topic") }}" method="post">
            <input type="text" name="added_topic_name">
            <button type="submit" class="btn btn-inverse btn-wide">增加</button>
        </form>
    {% endif %}




    {% if is_tags %}
        <ul>
            {% for tag in tags %}
                <li>
                    <div class="col-md-4">
                        {{ tag.tag_name }}
                    </div>
                    <a href="{{ url_for('del_tag',tag_id = tag.tag_id) }}">删除</a>
                </li>
            {% endfor %}

        </ul>
        <form action="{{ url_for("add_tag") }}" method="post">
            <input type="text" name="added_tag_name">
            <button type="submit" class="btn btn-inverse btn-wide">增加</button>
        </form>
    {% endif %}
{% endblock %}